* {
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
}

main {
  display: flex;
  flex-direction: column;
}

header {
  background: rgb(236, 247, 247);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

header img {
  width: 20px;
  height: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
}

input,
select {
  border-radius: 3px;
  padding: 10px;
  border: 1px solid rgb(224, 224, 249);
}

input:hover {
  border: 1px solid rgb(72, 72, 238);
  cursor: pointer;
}

select:hover {
  border: 1px solid rgb(72, 72, 238);
  cursor: pointer;
}

section {
  /* display: flex; */
  padding: 24px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 24px;
  display: flex;
}

.bandera {
  border: 1px solid black;
  width: 150px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border: 1px solid rgb(224, 224, 249);
  box-shadow: 0 0 20px rgba(44, 8, 246, 0.2);
  border-radius: 6px;
  padding: 10px;
}

article {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.btn {
  display: flex;

  text-decoration: none;
}

button {
  align-content: flex-end;
  width: 100px;
  box-shadow: 0 0 20px rgba(108, 162, 237, 0.6);
  border-radius: 20px;
  border: none;
  padding: 10px;
  color: rgb(100, 78, 241);
}

button:hover {
  background-color: #fd0e06;
}
